// Flex

@mixin flex ( $direction, $break, $justify, $align) {
    display: flex;
    flex-flow: $direction $break;
    justify-content: $justify;
    align-items: $align;
}

// Multidevice

@mixin device ($punto) {
    @if ( $punto == bigscreen ) {
        @media (min-width: 1201px) {
            @content;
        }
    }
    @else if ( $punto == laptop ){
        @media (max-width: 1200px) {
            @content;
        }
    }
    @else if ( $punto == tablet ) {
        @media (max-width: 950px) {
            @content;
        }
    }
    @else if ( $punto == movil ) {
        @media (max-width: 560px) {
            @content;
        }
    }
}